QTOM.WcfDealService/QTMWcfDealServiceTestApp/Service References/ServiceReference1/SwapDealService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://arulappan/QTMWcfDealService/SwapDealService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/QTMWcfDealService.Contracts" />
  <xs:element name="LogOn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SiteName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogOnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/QTMWcfDealService.Contracts" minOccurs="0" name="LogOnResult" nillable="true" type="q1:QTMSession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitializeSwapDeal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/QTMWcfDealService.Contracts" minOccurs="0" name="objQTMSession" nillable="true" type="q2:QTMSession" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/QTMWcfDealService.Contracts" minOccurs="0" name="objSwapDeal" nillable="true" type="q3:SwapDeal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitializeSwapDealResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/QTMWcfDealService.Contracts" minOccurs="0" name="InitializeSwapDealResult" nillable="true" type="q4:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomizeSwapDeal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/QTMWcfDealService.Contracts" minOccurs="0" name="objQTMSession" nillable="true" type="q5:QTMSession" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/QTMWcfDealService.Contracts" minOccurs="0" name="objCustomize" nillable="true" type="q6:Customize" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomizeSwapDealResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/QTMWcfDealService.Contracts" minOccurs="0" name="CustomizeSwapDealResult" nillable="true" type="q7:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnwindSwapDeal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/QTMWcfDealService.Contracts" minOccurs="0" name="objQTMSession" nillable="true" type="q8:QTMSession" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/QTMWcfDealService.Contracts" minOccurs="0" name="objUnwind" nillable="true" type="q9:Unwind" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnwindSwapDealResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/QTMWcfDealService.Contracts" minOccurs="0" name="UnwindSwapDealResult" nillable="true" type="q10:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>