QTOM.WcfDealService/QTMWcfDealServiceTestApp/Service References/ServiceReference1/SwapDealService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SwapDealService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpEndpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <http:BasicAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://arulappan/QTMWcfDealService/SwapDealService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://arulappan/QTMWcfDealService/SwapDealService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://arulappan/QTMWcfDealService/SwapDealService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/QTMWcfDealService.Contracts" />
      <xsd:import schemaLocation="http://arulappan/QTMWcfDealService/SwapDealService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/QTMWcfDealService.Enums" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISwapDealService_LogOn_InputMessage">
    <wsdl:part name="parameters" element="tns:LogOn" />
  </wsdl:message>
  <wsdl:message name="ISwapDealService_LogOn_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogOnResponse" />
  </wsdl:message>
  <wsdl:message name="ISwapDealService_InitializeSwapDeal_InputMessage">
    <wsdl:part name="parameters" element="tns:InitializeSwapDeal" />
  </wsdl:message>
  <wsdl:message name="ISwapDealService_InitializeSwapDeal_OutputMessage">
    <wsdl:part name="parameters" element="tns:InitializeSwapDealResponse" />
  </wsdl:message>
  <wsdl:message name="ISwapDealService_CustomizeSwapDeal_InputMessage">
    <wsdl:part name="parameters" element="tns:CustomizeSwapDeal" />
  </wsdl:message>
  <wsdl:message name="ISwapDealService_CustomizeSwapDeal_OutputMessage">
    <wsdl:part name="parameters" element="tns:CustomizeSwapDealResponse" />
  </wsdl:message>
  <wsdl:message name="ISwapDealService_UnwindSwapDeal_InputMessage">
    <wsdl:part name="parameters" element="tns:UnwindSwapDeal" />
  </wsdl:message>
  <wsdl:message name="ISwapDealService_UnwindSwapDeal_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnwindSwapDealResponse" />
  </wsdl:message>
  <wsdl:portType name="ISwapDealService">
    <wsdl:operation name="LogOn">
      <wsdl:input wsaw:Action="http://tempuri.org/ISwapDealService/LogOn" message="tns:ISwapDealService_LogOn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISwapDealService/LogOnResponse" message="tns:ISwapDealService_LogOn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InitializeSwapDeal">
      <wsdl:input wsaw:Action="http://tempuri.org/ISwapDealService/InitializeSwapDeal" message="tns:ISwapDealService_InitializeSwapDeal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISwapDealService/InitializeSwapDealResponse" message="tns:ISwapDealService_InitializeSwapDeal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CustomizeSwapDeal">
      <wsdl:input wsaw:Action="http://tempuri.org/ISwapDealService/CustomizeSwapDeal" message="tns:ISwapDealService_CustomizeSwapDeal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISwapDealService/CustomizeSwapDealResponse" message="tns:ISwapDealService_CustomizeSwapDeal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnwindSwapDeal">
      <wsdl:input wsaw:Action="http://tempuri.org/ISwapDealService/UnwindSwapDeal" message="tns:ISwapDealService_UnwindSwapDeal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISwapDealService/UnwindSwapDealResponse" message="tns:ISwapDealService_UnwindSwapDeal_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpEndpoint" type="tns:ISwapDealService">
    <wsp:PolicyReference URI="#BasicHttpEndpoint_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LogOn">
      <soap:operation soapAction="http://tempuri.org/ISwapDealService/LogOn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InitializeSwapDeal">
      <soap:operation soapAction="http://tempuri.org/ISwapDealService/InitializeSwapDeal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomizeSwapDeal">
      <soap:operation soapAction="http://tempuri.org/ISwapDealService/CustomizeSwapDeal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnwindSwapDeal">
      <soap:operation soapAction="http://tempuri.org/ISwapDealService/UnwindSwapDeal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SwapDealService">
    <wsdl:port name="BasicHttpEndpoint" binding="tns:BasicHttpEndpoint">
      <soap:address location="http://arulappan/QTMWcfDealService/SwapDealService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>