QTOM.WcfDealService/QTMWcfDealServiceTestApp/Service References/ServiceReference1/SwapDealService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QTMWcfDealService.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QTMWcfDealService.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://arulappan/QTMWcfDealService/SwapDealService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/QTMWcfDealService.Enums" />
  <xs:complexType name="QTMSession">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="QTMSession" nillable="true" type="tns:QTMSession" />
  <xs:complexType name="SwapDeal">
    <xs:sequence>
      <xs:element minOccurs="0" name="Counterparty" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DealDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Entity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaturityDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TickerNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SwapDeal" nillable="true" type="tns:SwapDeal" />
  <xs:complexType name="Result">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/QTMWcfDealService.Enums" minOccurs="0" name="Status" type="q1:ResultStatus" />
      <xs:element minOccurs="0" name="StatusMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Result" nillable="true" type="tns:Result" />
  <xs:complexType name="Customize">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Customize" nillable="true" type="tns:Customize" />
  <xs:complexType name="Unwind">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Unwind" nillable="true" type="tns:Unwind" />
</xs:schema>